*{
	padding: 0;
}
	
html,body{
	width: 100%;
	height: 100%;
}

body{
	text-align: center;
	background-image: url('img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;	
	backdrop-filter: blur(4px);
	font-family: 'Ultra', serif;
	color: white;
	height: 100%;
	width: 100%;
	margin: 0;
}

#content{
	height: 100%;
	width: 100%;
}

#header{
	height: 70px;
	width: 100%;
	font-size: 50px;
	padding-top: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	color: white;
	background-color: rgb(69, 62, 45);
	border-bottom: 2px solid orange;
	-webkit-text-stroke: 0.1px black;
}

#footer{
	text-align: center;
	height: 30px;
	background-color: rgb(69, 62, 45);
	line-height: 30px;
	color: white;
	border-top: 2px solid orange;
	position: relative;
	font-family: 'Ultra', serif;
	margin: 0;
	top: -32px;
}

span{
	color: orange;
}
	
div{	

}

#clicker:hover{
	transform: scale(1.10);
}

#clicker:active{
	transform: scale(0.99);
}

button:hover{
	transform: scale(1.10);
	border: 3px solid orange;
	border-radius: 10px;
}

button:active{
	transform: scale(0.99);
}

a:hover{
	transform: scale(1.10);
}

a:active{
	transform: scale(0.99);
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

#clicker{
	background-image: url("./img/mainimg.png");
	background-size: cover;
	position: relative;
	transition: all .2s ease-in-out;
	height: 256px;
	width: 256px;
	display: inline-block;
}

#clicker > .number{
	z-index: 99;
	font-size: 30px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: orange;
	position: absolute;
}

input.music{
	width: 10px;
	height: 10px;
	margin-bottom: 100px;
}


.toggle-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.toggle-button {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 17.5px;
	background: orange;
	border-radius: 30px;
	cursor: pointer;
	transition: 1s;
}

.toggle-button::after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 3px;
	top: 1.5px;
	width: 15px;
	height: 15px;
	background-color: #7a7569;
	border-radius: 50%;
}

.toggle-button:checked::after {
	transform: translateX(calc(100% + 3px));
	background-color: orange;
}

.toggle-button:checked {
	background-color: #7a7569;
}

div.minuszero{
	width: 1080px;
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 25px;
}

div.zero{
	width: 100%;
	height: 550px;
}

div.three{
	float: left;
	width: 23%;	
	display: inline-block;
	box-shadow: 2px 4px black;
	border: 3px solid orange;
	border-radius: 20px;
	border-color: orange;	
	background: url(img/bg2.jpg);
	opacity: 0.79;
	background-size: cover;
	margin-right: 10px;
}

#Wiki{
	border-bottom: 3px solid orange;
	color:white;
	-webkit-text-stroke: 0.1px black;
}

div.one{
	float: left;
	width: 50.2%;
	height: 500px;%
	display: inline-block;
	box-shadow: 2px 4px black;
	border: 3px solid orange;
	border-radius: 20px;
	border-color: orange;	
	background: url(img/bg3.png);
	opacity: 0.79;
	background-size: cover;
	margin-right: 10px;
	-webkit-text-stroke: 0.1px black;
}

div.two{
	width: 23%;	
	display: inline-block;
	box-shadow: 2px 4px black;
	border: 3px solid orange;
	border-radius: 20px;
	border-color: orange;	
	background: url(img/bg2.jpg);
	opacity: 0.79;
	background-size: cover;
	-webkit-text-stroke: 0.1px black;
}

div.scoreContainer{
	background-color: rgb(255, 255, 255, 0.2);
	margin-top: 25px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
}

div.unselectable{ /*Block Selections */
	-webkit-user-select: none;
	-moz-user-select: none;
}

#upgradeContainer{
	margin-top: 10px;
	display: inline-block;
	border-bottom: 3px solid orange;
}

#scoreContainer{
	display: inline-block;
}

#achievementContainer{
	display: inline-block;
}

#shopContainer{
	width: 100%;
}

table.shopButton{
	background-color: #b5b5b5;
	transition: all .2s ease-in-out;
	border-radius: 10px;
	width: 100%;
	margin: 10px 0px 10px 0px;
	border: 3px solid #b5b5b5;
}

table.shopButton:hover{
	background-color: #c7c7c7;
	transition: all .2s ease-in-out;
	border: 3px solid orange;
}

table.shopButton img{
	width: 64px;
	height: 64px;
}

table.shopButton #NameAndCost p{
	margin: 0px;
	width: 60%;
}

table.shopButton #NameAndCost p:first-of-type{
	font-size: 24px;
}

table.shopButton #amount{
	font-size: 48px;
	color: #595959;
	font-family: 'Ultra', serif;
	width: 15%;
}

div.sectionFooter{
	margin-top: 5%;
	display: inline-block;
	box-shadow: 2px 4px black;
	border: 3px solid orange;
	border-radius: 10px;
	border-color: orange;	
	background: url(img/bg2.jpg);
	opacity: 0.79;
	background-size: cover;
	width: 230px;
	-webkit-text-stroke: 0.1px black;
	height: 152px;
	position: relative;
}

button{
	border-radius: 10px;
	padding: 5px 5px 5px 5px;
}

#upgradeContainer img{
	width: 64px;
	height: 64px;
	border: 3px solid #b5b5b5;
	border-radius: 20px;
	background-color: #b5b5b5;
	background-size: cover;
	
}

#upgradeContainer img:hover{	
	border: 3px solid orange;
	transform: scale(1.10);
}

#achievementContainer img{
	width: 64px;
	height: 64px;
	background-color: #b5b5b5;
	transition: all .2s ease-in-out;
	box-shadow: 2px 4px black;
	border: 3px solid orange;
	border-radius: 20px;
	border-color: orange;	
	background-size: cover;
}

#achievementContainer img:hover{	
	border: 3px solid white;
	transform: scale(1.10);
}

div.start{
	margin: auto;
	width: 230px;
	height: 40px;
	border: 3px solid orange;
	border-color: orange;	
	background: url(img/bg2.jpg);
	background-size: cover;
	margin-top: 50px;
	border-radius: 10px;
}

div.rules{
	padding-top: 1.7%;
	margin: auto;
	width: 300px;
	height: 225px;
	border: 3px solid orange;
	border-radius: 20px;
	border-color: orange;	
	background: url(img/bg2.jpg);
	background-size: cover;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

.glow-on-hover {
    width: 230px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
	font-family: 'Ultra', serif;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/*.container {
  display: flex;
  flex-direction: row 
}*/

#Intro{
	font-size: 32px;
	-webkit-text-stroke: 0.1px black;
}

#info{
	background:none;
	border:none;
	outline:none; 
}

#imgmusic{
	transform: none;
	background:none;
	border:none;
	outline:none; 
}

#imginfo{
	border: none;
	width: 35px;
	height: 35px;	
}

#wikis{
	width: 90%;
    height: 40px;
    border: 3px solid orange;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
	font-family: 'Ultra', serif;
}
#wikis:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#wikis:active {
    color: #000
}

#wikis:active:after {
    background: transparent;
}

#wikis:hover:before {
    opacity: 1;
}

#wikis:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

#save{
	background-color: black;
	color: white;
	border: 3px solid orange;
	font-family: 'Ultra', serif;
}

#save:hover{
	border: 3px solid white;
}

#reset:hover{
	border: 3px solid white;
}

#reset{
	background-color: black;
	color: white;
	border: 3px solid orange;
	font-family: 'Ultra', serif;
}

#assets{
	width: 90%;
    height: 40px;
	background-color: black;
	color: white;
	border: 3px solid orange;
	font-family: 'Ultra', serif;
}

#assets:hover{
	border: 3px solid white;
	transform: scale(1.10);
}

#tokens{
	width: 90%;
    height: 40px;
	background-color: black;
	color: white;
	border: 3px solid orange;
	font-family: 'Ultra', serif;
}

#tokens:hover{
	border: 3px solid white;
	transform: scale(1.10);
}